# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Google Services and API keys
google-services.json
google-services/
android/app/google-services.json
android/app/google-services/
*.json
.env
.env.local
.keys